body {
    font-size: 14px;
}

.judul {
    font-size: 40px;
    text-align: center;
}
.box1 {
    width: 20cm;
    height: 3cm;
    background-color: blue;
    margin-bottom: 10px;
}
.box2 {
    width: 20%;
    height: 100%;
    background-color: yellow;
}